.public {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.completed {
  text-decoration: line-through;
}
